.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  position: relative;
  display: flex;
  flex: 1;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0px;
  width: 250px;
  background-color: #dfdfdf;
  padding: 16px 16px 16px 32px;
  height: 100%;
  flex-shrink: 0;
  transition: all 0.3s;
}

.content {
  margin-left: 250px;
  padding: 20px;
  flex-grow: 1;
  transition: all 0.3s;
}
